.under-con-text-container {
  font-size: 56px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-top: 150px;
  color: #fff;
}
.under-con-text {
  color: #e2dcdc;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 300;
  padding-left: 45px;
}

.left-container,
.right-container {
  height: 100%;
}

.left-container {
  background-image: url("../images/image1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: #000;
  opacity: 0.8;
}

@keyframes imageAnimation {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  8% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.crossfade > figure {
  animation: imageAnimation 35s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  background-position: center center;
  color: transparent;
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  width: 100%;
  z-index: 0;
}

.crossfade > figure:nth-child(1) {
  background-image: url("../images/image20.jpg");
}
.crossfade > figure:nth-child(2) {
  animation-delay: 6s;
  background-image: url("../images/image13.jpg");
}
.crossfade > figure:nth-child(3) {
  animation-delay: 12s;
  background-image: url("../images/image1.jpg");
}

.crossfade > figure:nth-child(4) {
  animation-delay: 18s;
  background-image: url("../images/image36.jpg");
}

.crossfade > figure:nth-child(5) {
  animation-delay: 24s;
  background-image: url("../images/image9.jpg");
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  height: 100vh;
  width: 100vw;
}

.logo-container {
  margin-top: 20px;
  margin-left: 20px;
}
.logo-container > img {
  height: 80px;
  width: 280px;
}

.content-container {
  margin: 20px;
}
